@import '../../sass/variables.scss';

.container {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.email {
  font-size: 160px;
  text-align: end;
  margin-right: 12px;
  margin-top: 150px;
  letter-spacing: -8px;
  transition: color 0.2s linear;
  font-family: 'PP_Mori_Light', Helvetica, sans-serif;
  font-weight: lighter;

  &:hover {
    color: $primary-color;
  }

  & span {
    font-family: 'PP_Mori', Helvetica, sans-serif;
  }

  @media (max-width: $big) {
    font-size: 124px;
  }

  @media (max-width: $medium) {
    font-size: 58px;
    letter-spacing: -4px;
  }

  @media (max-width: $small) {
    font-size: 34px;
    margin-top: 80px;

    letter-spacing: 0px;
  }
}
