@import 'variables.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  // min-height: 100vh;
  // background-image: url('https://media.giphy.com/media/3o6vXSCHXrkT97HR1S/giphy.gif');
  // background-image: url('https://media.giphy.com/media/vvXQpi9u6TK7CW4J4q/giphy.gif');
  // background-image: url('https://media.giphy.com/media/QhDoY2TgEfYuCQvMiR/giphy.gif');
  // background-image: url('https://media.giphy.com/media/jsUXu7umQRFqU/giphy.gif');
  // background-image: url('https://media.giphy.com/media/RVE9NtcwEiVUM1TdgC/giphy.gif');
  // background-image: url('https://media.giphy.com/media/n3UBd63oVlQLC/giphy.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 24px;
}

.text {
  color: black;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 36px 36px 0px;
  justify-content: center;
}

.video {
  margin-top: 60px;
  display: flex;
  font-size: 14px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  font-family: 'PP_Mori_Semibold_Italic', Helvetica, sans-serif;
}

.at {
  width: 100%;
  margin-bottom: 24px;
  padding: 48px 24px 8px;
  font-size: 14px;
  font-family: 'PP_Mori', Helvetica, sans-serif;
  transition: color 0.3s ease;
  display: flex;
  justify-content: center;

  & a {
    font-family: 'PP_Mori_Semibold_Italic', Helvetica, sans-serif;
  }

  &__span {
    font-family: 'PP_Mori_Light_Italic', Helvetica, sans-serif;
  }

  &:hover {
    color: red;
  }
}
