@import 'variables.scss';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 500px;
  z-index: 20;

  @media (max-width: $medium) {
    width: 350px;
  }

  @media (max-width: $small) {
    width: 250px;
  }
}

.left {
  width: 50%;
  height: 250px;
  min-width: 250px;
  display: flex;
  flex-direction: column;

  @media (max-width: $medium) {
    min-width: 175px;
    height: 175px;
  }

  @media (max-width: $small) {
    min-width: 125px;
    height: 125px;
  }
}

.square {
  background-color: $primary-color;
  transition: border-radius 0.3s ease;
}

.at {
  font-size: 14px;
  font-family: 'PP_Mori_Light_Italic', Helvetica, sans-serif;
  font-style: italic;
  font-weight: lighter;
  transition: color 0.3s;

  &:hover {
    text-decoration: underline;
  }

  @media (max-width: $medium) {
    font-size: 10px;
  }
}

.texts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 1;
  margin-left: -73px;
  padding-bottom: 36px;
  padding-top: 96px;
  height: 250px;

  @media (max-width: $medium) {
    min-width: 175px;
    height: 175px;

    margin-left: -53px;
    padding-bottom: 22px;
    padding-top: 70px;
  }

  @media (max-width: $small) {
    min-width: 125px;
    height: 125px;

    margin-left: -36px;
    padding-bottom: 20px;
    padding-top: 50px;
  }
}

.title {
  font-size: 36px;
  font-family: 'PP_Mori_Semibold', Helvetica, sans-serif;
  font-weight: 500;

  @media (max-width: $medium) {
    font-size: 26px;
  }

  @media (max-width: $small) {
    font-size: 18px;
  }
}

.engineer {
  font-family: 'PP_Mori_Light_Italic', Helvetica, sans-serif;
  font-style: italic;
  font-weight: lighter;
  font-size: 24px;

  @media (max-width: $medium) {
    font-size: 18px;
  }

  @media (max-width: $small) {
    font-size: 12px;
  }
}
.mexico {
  font-family: 'PP_Mori_Italic', Helvetica, sans-serif;
  font-style: italic;
  font-size: 22px;

  @media (max-width: $medium) {
    font-size: 16px;
  }

  @media (max-width: $small) {
    font-size: 10px;
  }
}

.letter_e {
  font-family: 'PP_Mori', Helvetica, sans-serif;
  font-style: normal;
}

.clock {
  position: absolute;
  right: 12px;
  top: 12px;
  font-size: 24px;
  min-width: 175px;

  &__numbers {
    font-family: 'PP_Mori_Light', Helvetica, sans-serif;
    font-weight: lighter;
  }

  &__divider {
    animation: blink 1s infinite;
  }

  @media (max-width: $medium) {
    right: 8px;
    top: 8px;
    font-size: 18px;
    min-width: 125px;
  }

  @media (max-width: $small) {
    right: 4px;
    top: 4px;
    font-size: 14px;
    min-width: 95px;
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
