// garavito.dev =========

@font-face {
  font-family: 'PP_Mori';
  src: url('../../../public/fonts/PPMori-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PP_Mori_Italic';
  src: url('../../../public/fonts/PPMori-RegularItalic.otf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'PP_Mori_Light';
  src: url('../../../public/fonts/PPMori-Extralight.otf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'PP_Mori_Light_Italic';
  src: url('../../../public/fonts/PPMori-ExtralightItalic.otf')
    format('truetype');
  font-weight: lighter;
  font-style: italic;
}

@font-face {
  font-family: 'PP_Mori_Semibold';
  src: url('../../../public/fonts/PPMori-SemiBold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PP_Mori_Semibold_Italic';
  src: url('../../../public/fonts/PPMori-SemiBoldItalic.otf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

// missinggate.org =========

@font-face {
  font-family: 'absortile';
  src: url('../../../public/fonts/Absortile.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'absortile_bold';
  src: url('../../../public/fonts/Absortile-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// GARASA =========

@font-face {
  font-family: 'apfelgroztek';
  src: url('../../../public/fonts/ApfelGrotezk-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'apfelgroztek_semibold';
  src: url('../../../public/fonts/ApfelGrotezk-Mittel.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'apfelgroztek_bold';
  src: url('../../../public/fonts/ApfelGrotezk-Fett.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'apfelgroztek_bolder';
  src: url('../../../public/fonts/ApfelGrotezk-Satt.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'apfelgroztek_alt';
  src: url('../../../public/fonts/ApfelGrotezk-Brukt.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
