$primary-color: #163af5;
$secondary-color: #2ef514;
$primary-dark-color: #0f28ae;
$white-color: #fff;
$black-color: #000;
$gray-color: #171717;

//media queries
$big: 1020px;
$medium: 768px;
$small: 320px;
