$primary-color: #163af5;
$secondary-color: #2ef514;
$primary-dark-color: #0f28ae;
$white-color: #fff;
$black-color: #000;
$gray-color: #171717;

//media queries
$big: 1020px;
$medium: 768px;
$small: 390px;

// GARASA ======

$garasa_blue: #06597e;
$garasa_blue_2: #0e7bb3;
$garasa_blue_3: #289fd8;
$garasa_green: #1f9e7d;
$garasa_green_2: #719f8a;
$garasa_black: #161616;
$garasa_red: #b54359;
$garasa_red_2: #b99ea3;
