.layout {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template: 1fr / 1fr;
}

.background {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 1 / 1 / 2 / 2;
  z-index: 1;
}

.foreground {
  grid-area: 1 / 1 / 2 / 2;
  z-index: 3;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dir {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: auto;
  margin-bottom: auto;
  transform: translate(150px, 125px);

  &__title {
    font-family: 'PP_Mori_Italic';
    font-size: 24px;
  }

  &__item {
    font-family: 'PP_Mori_Light';
    font-size: 24px;

    &:hover span {
      text-decoration: underline;
    }

    &__italic {
      font-family: 'PP_Mori_Light_Italic';
    }
  }
}

// background stuff
.tv {
  display: grid;
  grid-template: 1fr / 1fr;
  position: relative;

  &__primis {
    opacity: 0.33;
    grid-area: 1 / 1 / 2 / 2;
    z-index: 10;
  }
  &__seguns {
    opacity: 0.33;
    grid-area: 1 / 1 / 2 / 2;
    z-index: 15;
  }
  &__tercis {
    opacity: 0.33;
    grid-area: 1 / 1 / 2 / 2;
    z-index: 20;
  }
}
