@import 'variables.scss';

.layout {
  width: 100%;
  display: grid;
  grid-template: 1fr / 1fr;
}

.background {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 1 / 1 / 2 / 2;
  z-index: 1;
}

.foreground {
  grid-area: 1 / 1 / 2 / 2;
  z-index: 3;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dir {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: auto;
  margin-bottom: auto;
  transform: translate(150px, 125px);

  @media (max-width: $medium) {
    transform: translate(100px, 80px);
  }

  @media (max-width: $small) {
    transform: translate(85px, 70px);
  }

  &__title {
    font-family: 'PP_Mori_Italic', Helvetica, sans-serif;
    font-style: italic;
    font-size: 24px;

    @media (max-width: $medium) {
      font-size: 18px;
    }

    @media (max-width: $small) {
      font-size: 14px;
    }
  }

  &__item {
    font-family: 'PP_Mori_Light', Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 24px;

    @media (max-width: $medium) {
      font-size: 18px;
    }

    @media (max-width: $small) {
      font-size: 14px;
    }

    &:hover span {
      text-decoration: underline;
    }

    &__italic {
      font-family: 'PP_Mori_Light_Italic', Helvetica, sans-serif;
      font-style: italic;
      font-weight: lighter;
    }
  }
}

// background stuff
.tv {
  display: grid;
  grid-template: 1fr / 1fr;
  position: relative;

  &__primis {
    opacity: 0.33;
    grid-area: 1 / 1 / 2 / 2;
    z-index: 10;
  }
  &__seguns {
    opacity: 0.33;
    grid-area: 1 / 1 / 2 / 2;
    z-index: 15;
  }
  &__tercis {
    opacity: 0.33;
    grid-area: 1 / 1 / 2 / 2;
    z-index: 20;
  }
}
