@import 'variables.scss';

.main {
  color: $white-color;
  font-size: 46px;
  font-family: 'absortile', Helvetica, sans-serif;
}

.test-main {
  color: $white-color;
  font-size: 46px;
  font-family: 'absortile_bold', Helvetica, sans-serif;
}
